.formContainer{
    margin-top: 60px;
   text-align: center;
  
}
input[type="text"], [type="password"]{
    margin-bottom: 1em;
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden ;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 0 0 #eee;
    height: 30px;
    background-color:  #464646;
    color: white;
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder { 
    color: white;
    opacity: 1; /* Firefox */
  }

  .button-container{
      display: block;
      text-align: center;
  }
