button { 
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
}

button.Travel {
    -webkit-clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    clip-path: polygon(0 0, 0 100vh, 100% 100vh);
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://images3.alphacoders.com/945/thumb-1920-945331.jpg');
    background-size: 600px 790px;
    background-position-x: 470px;
    background-position-y: 30px;
    opacity: 0.7;
}
button.Deliver {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100vh);
    clip-path: polygon(0 0, 100% 0, 100% 100vh);
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://lh3.googleusercontent.com/proxy/QHRT21FHHjKTcdo7gYusQfMorcbbBdyJPIZ90ncn-qQXANWgOXXSTYkAHV5NeXjFwd3yllWufLtHPZ7P2s7Efan1hOUlQ5qdvQt4Fr1Jz5IAa8Nmz3Y');
    background-size: 600px 620px;
    opacity: 0.7;
}
button.Travel:hover{
    transition: ease-in-out 0.3s;
    opacity: 1;
}
button.Deliver:hover{
    transition: ease-in-out 0.3s;
    opacity: 1;
}

p.TravelLabel{
    position: absolute;
    left: 0px;
    width: 205px;
    background-color: rgba(0, 0, 0, .5);
    font-family: Arial, Helvetica, sans-serif;
}
p.DeliverLabel{
    position: absolute;
    left:33%;
    top: 37%;
    width: 263px;
    height: 50px;
    text-indent: 4%;
    background-color: rgba(0, 0, 0, .5);
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 500px) {
    button.Travel {
       background-size: 1200px 700px;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    button.Deliver {
        background-size: 1280px 725px;
        background-position-x: 0px;
        background-position-y: -120px;
        background-repeat: no-repeat;
    }
    p.TravelLabel{
        position: absolute;
        padding: 10px 30px;
        width: 57%;
    }
    p.DeliverLabel{
        position: absolute;
        left: 500px;
        top: 245px;
        width: 63%;
        height: 55px;
    }
  }