#NavBar {
    background-color: #2B578A;
    text-align: center;
    color: white;
    padding-bottom: 4px;
    padding-top: 2px;
}

img#SideMenu {
    width: 40px;
    height: 40px;
    padding: 2px;
    position: fixed;
    left: 2px;
    top: -1px;
}

img#Notif{
    width: 35px;
    height: 35px;
    padding: 2px;
    position: fixed;
    right: 4px;
    top: 2px;
} 

h1{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
    padding: 0px 50px;
}