

.login-text{
  margin-top:20px;
  text-align: center;
  font-size: 1.5rem;
}

#tariqFixedDis{
    position: relative;
    bottom: 40px;
}
@media screen and (min-width: 500px) {
    
  .fixPos{
    position: relative;
    left: -114px;
  }
 
}

@media screen and (max-width: 500px) {
    
  .fixPos{
    position: relative;
    left: 0;
  }
 
}

