.updates-container {
}

.personal-withRating-wrapper {
	text-align: center;
	padding-top: -10px;
	position: relative;
	left: -9vw;
}

.buttonT {
	display: inline-block;
	text-align: center;
	width: 100px;
	height: 2rem;
	background-color: #2b578a;
	border-radius: 3px;
	color: #eee;
	margin-right: 0.3em;
	margin-left: 0.3em;
	border-style: hidden;
	border-radius: 10px;
}

.buttonT:hover {
	background-color: #eee;
	color: #2b578a;
	transition: all 0.5s ease;
}
