.middle{
    text-align: center;
    margin: auto;
    position: relative;
}
.realign{
    position: relative;
    right: 5%;
}

#rideRoute{
        background-color: transparent;
        color: white;
        border-color: transparent transparent white transparent;
        overflow-y: scroll;
        margin-bottom: 20vh;
}
div.RRIB{
    position: relative;
    bottom: 8vw;
    
}
@media screen and (max-width: 500px){
    div.RRIB{
        position: absolute;
        top: 45%;
        left: 0%;
        width: auto;
}
}