.testestt {
	text-align: center;
	font-size: 2rem;
	position: relative;
	top: 200px;
}
div.DD {
	text-align: center;
	margin-top: 5%;
	color: gainsboro;
	margin-bottom: 30px;
	background-color: transparent;
	border-color: transparent transparent white transparent;
	position: relative;
	top: -10px;
}

#rideRoute2{
	background-color: transparent;
	color: #eee;
	border-color: transparent transparent white transparent;
	overflow-y: scroll;
	margin-bottom: 5rem;
	font-size: 2rem;
	width: 40%;
	text-align: center;
}

.pickupAlign {
	margin-top: 20px;
	position: relative;
	left: -5%;
}

.timeAlign {
	position: relative;
	margin-top: 20px;
	left: -5%;
}

div.Date {
	margin-top: -4%;
	text-align: center;
}
div.all {
	text-align: center;
}
div.Time {
	text-align: center;
}
div.Amnt {
	margin-top: 20px;
	text-align: center;
	position: relative;
	left: -5%;
}
.goUPPP {
	position: relative;
	top: -20px;
}
@media screen and (min-width: 500px) {
	div.DD {
		margin-top: 3%;
	}
}
