.button-container{
    text-align: center;
}

.wide-button{
    
    width: 50%;
    height: 2rem;
    background-color: #2b578a ;
    border-radius: 3px;
    color: #eee;
    margin-right: 0.3em;
    margin-left: 0.3em;
    border-radius: 10px;
    border-style: hidden;
    font-size: 20px;
    margin-left:1em; 
}
