.button-container{
    text-align: center;
}

.wide-button{
    
    width: 50%;
    height: 2rem;
    background-color: #2b578a ;
    border-radius: 3px;
    color: #eee;
    margin-right: 0.3em;
    margin-left: 0.3em;
    border-radius: 10px;
    border-style: hidden;
    font-size: 2.5vw;
    padding-bottom: 3vw;
}

@media screen and (max-width: 500px) {
    .wide-button {
          font-size: 6vw;
          padding-bottom: 7vw;
        }
    }