*{
  margin:0;
  padding:0;
  text-decoration: none;
  list-style:none;
  color:white;
}
.sidemenu{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  background-color:#364B64 ;
  transition: all .5s ease;
}

li{
  margin-right:20px;
  margin-left:20px;
  margin-top:70px;
  font-size:2rem;

}

.logout{
  position:relative;
  bottom:20px;
  margin-left:20px;
  margin-top:150px;
  font-size:2rem;
  
  
}
.test{

}

.hidden-sidemenu{
  position:fixed;
  top:0;
  left:-400px;
  height:100%;
  background-color:#364B64;
  transition: all .5s ease;


}
.hide{
  left:-200px;
}