

.carComponent-container{
  text-align: center;
  background-color: black;
}

.img-container{
  text-align: center;
}
.textCar-container{
  color:black;
  text-align: center;
}
.img-car-info{
  width:30%;
  height:15%;
}
.text-car-info{
  line-height:1.5rem;

}