section{
    background-image: url("https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}