#Logo{
    position: relative;
    margin:auto;
    display:block;
    width: 80px;
}
#LogoName{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    color: white;
    position: relative;
}
#LogoMix{
    padding: 50px;
}