.cap-container{
 /* margin-top: 70px;*/
  position: relative;
  left: 5%;

}

.car-img{
  display: inline-block;
  width:190px;
  position: absolute;
  margin-top: -75px;
  left: 50%;
}

.text-under{
  position:relative;
  text-align: left;
  margin-top: -20px;
  left: 10%;
}

.car-info{
  color: white;
  font-size:.8rem;
  line-height:1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.person-info{
  padding-top: 30px;

}

.invisiButton{
  background-color: transparent;
  position: absolute;
  border: none;
  z-index: 2;
  color: transparent;
  margin: auto;
  border-radius: 5px;
  width: 50vw;
  top: 30px;
  left:10%;
  height: 90px;
}


@media screen and (max-width: 500px) {
.car-img{
  width:150px;
  position: absolute;
  left: 60%;
  margin-top: -50px;
}

.text-under{
  position:relative;
  text-align: left;
  margin-top: -20px;
  margin-right: 20px;
}
.person-info{
  margin-right: 13rem;
  padding-top: 30px;
}

.invisiButton{
  width: 85vw;
  position: absolute;
  left: 5%;
}
}



