.cap-container{
 /* margin-top: 70px;*/
 
 
 
}

.car-img{
  width:270px;
  position: absolute;
  margin-top: -50px;
  right:10%;
}

.text-under{
  position:relative;
  text-align: left;
  margin-top: -20px;
  left: 10%;
}

.car-info{
  color: white;
  font-size:.8rem;
  line-height:1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 500px) {
.car-img{
  width:150px;
}

.text-under{
  position:relative;
  text-align: left;
  margin-top: -20px;
  margin-right: 20px;
  left: 10%;
}
.person-info{
  margin-right: 13rem;
  padding-top: 30px
}
}



